
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/" method="post">
    <input type="text" name="name" value="" placeholder="Inout a name" />
    <input type="submit"  value="Add" />
</form>

@if (Session["Names"] != null)
{


<table>
    @foreach (var item in (List<string>)Session["Names"])
    {
    <tr>
        <td>@item</td>
    </tr>
    }
</table>

}